<h1>Welcome to My Reading List</h1>

<div ng-app="app">
  <div ng-controller="booksCtrl">
    <div id="search">
      <label>Search:</label>
      <input ng-model="titleFilter">
    </div>
    <br>

    <table style="width:100%">
      <thead>
        <th>
          Title: <button ng-click="changeOrder('title')">Sort By</button>
        </th>
        <th>
          Authors: <button ng-click="changeOrder('authors[0].name')">Sort By</button>
        </th>
        <th>
          Year Published: <button ng-click="changeOrder('published_year')">Sort By</button>
        </th>
        <th>
          Status: <button ng-click="changeOrder('status')">Sort By</button>
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="book in books | filter: { title: titleFilter } | orderBy:orderAttribute:sortDirection" >
          <td>{{ book.title }}</td>
          <td>{{ book.authors[0].name }}</td>
          <td>{{ book.published_year }}</td>
          <td>{{ book.status }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    
    <div id="book_form">
      Title: <input ng-model="newBookTitle"><br>
      Author: <input ng-model="newBookAuthor"><br>
      <button ng-click="addBook(newBookTitle, newBookAuthor)">Add Book</button>
    </div>

  </div>
</div>